.intro {
   min-height: 100vh;
   background: url(/img/intro-space-img.png) no-repeat left;
   background-size: cover;

   .wrapper {
      position: relative;
   }

   &__planet-row {
      @extend %flexDisplay;
      max-width: 100px;
      height: 200px;
      background-color: red;
   }

   &__planet-items {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      gap: 10px;
   }

   &__planet-item {
      width: 100px;
      height: 100px;
   }
}